.front-title {
  font-size: 1.25rem;
  line-height: 1.5625rem;
  text-align: center;
  text-transform: uppercase;
  padding: 45px;
}
.front-description {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.75rem;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 85px;
  text-transform: uppercase;
}
